<%= form_for(@domain) do |f| %>
  <% if @domain.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@domain.errors.count, "error") %> prohibited this domain from being saved:</h2>

      <ul>
      <% @domain.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= f.label :domain_name %><br>
    <%= f.text_field :domain_name, :class=>"form-control" %>
  </div>
  <div class="field form-group">
    <%= f.label :askin_price %><br>
    <%= f.text_field :asking_price , :class=>"form-control" %>
  </div>
  <div class="field form-group">
    <center><small>How would you like to list ?</small></center>
    <table class="table">
      <thead>
        <tr>
          <th><%= f.check_box :premium_domain %> Premium Domain<br/>
            <small class = "text-muted">$ 2.99 / Month</small>
          </th>
          <th><%= f.check_box :regular_domain %> Regular Domain<br/>
            <small class = "text-muted">99 cents / Month</small>
          </th>
        </tr>
      </thead>

    </table>
  </div>
  <div class="actions">
    <%= f.submit "Submit", :class=>"btn btn-primary btn-block" %>
  </div>
<% end %>







